$background-color: #F0B57B;
$font-family: 'Heebo', sans-serif;
$header-color: #635A5A;
$link-color: #AD540B;
$link-hover-color: $background-color;
$link-hover-bg-color: $link-color;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  font-family: $font-family;
}

header {
    background-color: $background-color;
    padding: 0;
    color: $header-color;
    .container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    .logo {
        margin-right: 10px;
        img {
        height: 130px;
        }
    }
    nav {
        display: flex;
        ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        li {
            margin-left: 10px;
            a {
            color: $link-color;
            text-decoration: none;
            font-size: 23px;
            padding: 8px 15px;
            border-radius: 10px;
            transition: color 0.3s, background-color 0.3s;
            &:hover {
                color: $link-hover-color;
                background-color: $link-hover-bg-color;
            }
          }
        }
      }
    }
  }
}

main {
  background-color: #F7E9C6;
}

.HomeBanner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  img {
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
.promotion {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F7E9C6;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  .text-container {
    text-align: center;
    margin: 0 20px;
    h2 {
      color: #8B4513;
      font-size: 24px;
      margin-bottom: 10px;
    }
    h1 {
      color: #8B4513;
      font-size: 32px;
      margin-bottom: 20px;
      font-weight: bold;
    }
    button {
      background-color: #8B0000;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 20px;
      cursor: pointer;
      font-size: 18px;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: #A52A2A;
      }
    }
  }
}

.left-image {
  width: 150px;
  margin: 0 20px;
  transform: translateY(-20px);
}
.right-image {
  width: 150px;
  margin: 0 20px;
  transform: translateY(-20px);
}
.Pipón {
  position: relative;
  width: 100%;
  height: 700px;
  background-image: url(http://127.0.0.1:5500/assets/img/Imagen%20hamburguesa%20nuevo.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  .Pipipón {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    h1 {
      font-size: 2.5em;
      margin: 0;
    }
    button {
      margin-top: 20px;
      padding: 20px 40px;
      font-size: 30px;
      color: #fff;
      background-color: #af0707;
      border: none;
      border-radius: 400px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: #bb6b02;
      }
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F0B57B;
  padding: 20px;
  color: #F0B57B;
  .socials-right {
    display: flex;
    gap: 20px;
    img {
      height: 60px;
      width: 60px;
    }
  }
  .socials-left {
    display: flex;
    gap: 20px;
    img {
      height: 60px;
      width: 60px;
    }
  }
  .logo-center {
    margin: 0 20px;
    text-align: center;
  }
}

@media (max-width: 2560px) {
  .text-container h1 {
    font-size: 48px;
  }
  .text-container h2 {
    font-size: 36px;
  }
  .text-container button {
    font-size: 24px;
    padding: 15px 30px;
  }
  .Pipipón h1 {
    font-size: 3em;
  }
  .Pipipón button {
    font-size: 36px;
    padding: 25px 50px;
  }
}

@media (max-width: 1440px) {
  .text-container h1 {
    font-size: 40px;
  }
  .text-container h2 {
    font-size: 30px;
  }
  .text-container button {
    font-size: 20px;
    padding: 12px 24px;
  }
  .Pipipón h1 {
    font-size: 2.5em;
  }
  .Pipipón button {
    font-size: 32px;
    padding: 20px 40px;
  }
}

@media (max-width: 1024px) {
  .text-container h1 {
    font-size: 36px;
  }
  .text-container h2 {
    font-size: 28px;
  }
  .text-container button {
    font-size: 18px;
    padding: 10px 20px;
  }
  .Pipipón h1 {
    font-size: 2.2em;
  }
  .Pipipón button {
    font-size: 28px;
    padding: 18px 36px;
  }
}

@media (max-width: 768px) {
  .contact-info {
    position: static;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
  }
  .contact-info span {
    font-size: 18px;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  nav ul li {
    margin: 5px 0;
  }
  .text-container h1 {
    font-size: 30px;
  }
  .text-container h2 {
    font-size: 20px;
  }
  .text-container button {
    font-size: 16px;
    padding: 8px 16px;
  }
  .left-image {
    width: 100px;
  }
  .right-image {
    width: 100px;
  }
  .Pipón {
    height: 500px;
  }
  .Pipipón h1 {
    font-size: 2em;
  }
  .Pipipón button {
    padding: 15px 30px;
    font-size: 24px;
  }
  footer {
    flex-direction: column;
    text-align: center;
    .socials-left {
      margin-top: 10px;
    }
    .socials-right {
      margin-top: 10px;
    }
  }
}

@media (max-width: 425px) {
  .contact-info {
    display: none;
  }
  .promotion img {
    display: none;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  nav ul li {
    margin: 5px 0;
  }
  nav ul li a {
    font-size: 18px;
  }
  footer .socials-right img {
    height: 30px;
    width: 30px;
  }
  footer .socials-left img {
    height: 30px;
    width: 30px;
  }
}

@media (max-width: 375px) {
  .contact-info {
    display: none;
  }
  .promotion img {
    display: none;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  nav ul li {
    margin: 5px 0;
  }
  nav ul li a {
    font-size: 16px;
  }
  footer .socials-right img {
    height: 24px;
    width: 24px;
  }
  footer .socials-left img {
    height: 24px;
    width: 24px;
  }
}

@media (max-width: 320px) {
  .contact-info {
    display: none;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  nav ul li {
    margin: 5px 0;
  }
  nav ul li a {
    font-size: 14px;
  }
  footer .socials-left img {
    height: 20px;
    width: 20px;
  }
  footer .socials-right img {
    height: 20px;
    width: 20px;
  }
}

.GridsNuevo {
  background-color: #303726;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.NuevaHamburguesaWrapper {
  position: relative;
  width: 100%;
  max-width: 600px;
}

.NuevaHamburguesa {
  width: 100%;
  height: auto;
}

.LogoNew {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20%;
  max-width: 100px;
}

.MasterDoble {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  h1 {
    font-size: 30px;
    text-align: center;
    margin: 10px 0;
  }
  p {
    text-align: center;
    font-size: 18px;
    margin: 10px 0;
    padding: 0 10px;
  }
}

.ImagenHamburguesa {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
}

@media (min-width: 2560px) {
  .MasterDoble {
    h1 {
      font-size: 50px;
    }
    p {
      font-size: 30px;
    }
  }
}

@media (min-width: 1440px) and (max-width: 2559px) {
  .MasterDoble {
    h1 {
      font-size: 45px;
    }
    p {
      font-size: 28px;
    }
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .MasterDoble {
    h1 {
      font-size: 40px;
    }
    p {
      font-size: 25px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .MasterDoble {
    h1 {
      font-size: 35px;
    }
    p {
      font-size: 22px;
    }
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .MasterDoble {
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 20px;
    }
  }
}

@media (min-width: 375px) and (max-width: 424px) {
  .MasterDoble {
    h1 {
      font-size: 28px;
    }
    p {
      font-size: 18px;
    }
  }
}

@media (max-width: 374px) {
  .MasterDoble {
    h1 {
      font-size: 25px;
    }
    p {
      font-size: 16px;
    }
  }
}

.MenuHam {
  background-color: #F7E9C6;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(5, 1fr);
  img {
    height: 200px;
    width: 200px;
  }
  h1 {
    text-decoration: underline;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-left: 22px;
    padding-top: 70px;
  }
  .H2 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .H3 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .H4 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .H5 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .H6 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .H11 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .H111 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 50px;
    font-weight: bold;
  }
  .H22 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 50px;
    font-weight: bold;
  }
  .H33 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 28px;
    font-weight: bold;
  }
  .H44 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 22px;
    font-weight: bold;
  }
  .H55 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 45px;
    font-weight: bold;
  }
  .H66 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 5;
    grid-row-end: 6;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 45px;
    font-weight: bold;
  }
}

.MenuAco {
  background-color: #F7E9C6;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(3, 1fr);
  img {
    height: 200px;
    width: 200px;
  }
  h2 {
    text-decoration: underline;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-left: 22px;
    padding-top: 70px;
  }
  .A1 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .A2 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .A3 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .A11 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 40px;
    font-weight: bold;
  }
  .A22 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 45px;
    font-weight: bold;
  }
  .A33 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 30px;
    font-weight: bold;
  }
}

.MenuPos {
  background-color: #F7E9C6;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(3, 1fr);
  img {
    height: 200px;
    width: 200px;
  }
  h3 {
    text-decoration: underline;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-left: 22px;
    padding-top: 70px;
    font-size: 23px;
  }
  .P1 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .P2 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .P3 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .P11 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 60px;
    font-weight: bold;
  }
  .P22 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 50px;
    font-weight: bold;
  }
  .P33 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 70px;
    font-weight: bold;
  }
}
$color-background: #F7E9C6;
$color-text: #635A5A;

.GridCupones {
    background-color: $color-background;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(8, 1fr);
    h1 {
        text-decoration: underline;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        padding-left: 22px;
        padding-top: 70px;
    }
    img {
        width: 100%;
        height: 100%;
    }
    .C1 {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 4;
        width: 750px;
        height: 400px;
    }
    .C2 {
        grid-column-start: 6;
        grid-column-end: 9;
        grid-row-start: 2;
        grid-row-end: 4;
        width: 760px;
        height: 400px;
    }
    .LineBlackCup {
        grid-column-start: 3;
        grid-column-end: 8;
        grid-row-start: 4;
        grid-row-end: 5;
        height: 5px;
    }
    .C3 {
        grid-column-start: 2;
        grid-column-end: 9;
        grid-row-start: 5;
        grid-row-end: 8;
        height: 100%;
        width: 100%;
        p {
            text-align: center;
            font-size: 30px;
            color: $color-text;
        }
    }
}
.containerkk {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
  background-color: #f7f0e6;
}

.container444 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 1;
  min-width: 300px;
}

.address44 {
  background-color: #ffa461;
  color: white;
  padding: 40px;
  border-radius: 15px;
  width: 100%;
  text-align: center;
}

.map44 {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border-radius: 50px;
  width: 100%;
  img {
      max-width: 100%;
      max-height: 100%;
      border-radius: 50px;
  }
}

.expansion44 {
  background-color: #ff5454;
  color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  flex: 1;
  min-width: 300px;
  img.expansion-image {
      max-width: 100%;
      border-radius: 5px;
      margin-bottom: 10px;
  }
}

@media (max-width: 2560px) {
  .address44 {
      padding: 30px;
  }
  .expansion44 {
      padding: 15px;
  }
}

@media (max-width: 1440px) {
  .address44 {
      padding: 20px;
  }
  .expansion44 {
      padding: 10px;
  }
}

@media (max-width: 1024px) {
  .containerkk {
      flex-direction: column;
      padding: 40px;
  }
  .map44 {
      margin: 20px 0;
  }
  .address44,
  .expansion44 {
      width: 100%;
      padding: 10px;
  }
  .expansion44 img.expansion-image {
      width: 30%;
  }
}

@media (max-width: 768px) {
  .logo img {
      height: 100px;
  }
  nav ul li a {
      font-size: 20px;
      padding: 6px 10px;
  }
  .address44 {
      padding: 15px;
  }
  .expansion44 {
      padding: 10px;
  }
  .expansion44 img.expansion-image {
      width: 30%;
  }
  nav ul {
      flex-direction: column;
      align-items: center;
  }
  nav ul li {
      margin: 5px 0;
  }
  footer {
      flex-direction: column;
      text-align: center;
  }
  footer .socials-left {
      margin-top: 10px;
  }
  footer .socials-right {
      margin-top: 10px;
  }
}

@media (max-width: 425px) {
  .container {
      flex-direction: column;
      align-items: flex-start;
  }
  .logo img {
      height: 80px;
  }
  nav ul {
      flex-direction: column;
      width: 100%;
      align-items: center;
  }
  nav ul li {
      margin: 5px 0;
  }
  nav ul li a {
      font-size: 18px;
      padding: 5px 8px;
      width: 100%;
      text-align: center;
  }
  .containerkk {
      padding: 20px;
      flex-direction: column;
      align-items: center;
  }
  .address44,
  .expansion44 {
      padding: 8px;
      width: 100%;
  }
  .expansion44 img.expansion-image {
      width: 20%;
  }
  .map44 {
      width: 100%;
  }
  .map44 img {
      width: 100%;
  }
  .container {
      flex-direction: column;
      align-items: center;
  }
  nav ul {
      flex-direction: column;
      align-items: center;
      width: 100%;
  }
  nav ul li {
      margin: 5px 0;
  }
  nav ul li a {
      font-size: 18px;
  }
  footer .socials-right img {
      height: 30px;
      width: 30px;
  }
  footer .socials-left img {
      height: 30px;
      width: 30px;
  }
}

@media (max-width: 375px) {
  .logo img {
      height: 60px;
  }
  nav ul li a {
      font-size: 16px;
      padding: 4px 6px;
  }
  .address44,
  .expansion44 {
      padding: 6px;
      width: 100%;
  }
  nav ul {
      flex-direction: column;
      align-items: center;
      width: 100%;
  }
  nav ul li {
      margin: 5px 0;
  }
  nav ul li a {
      font-size: 16px;
  }
  footer .socials-right img {
      height: 24px;
      width: 24px;
  }
  footer .socials-left img {
      height: 24px;
      width: 24px;
  }
}

@media (max-width: 320px) {
  .logo img {
      height: 50px;
  }
  nav ul li a {
      font-size: 14px;
      padding: 3px 5px;
  }
  .address44,
  .expansion44 {
      padding: 4px;
      width: 100%;
  }
  nav ul {
      flex-direction: column;
      align-items: center;
      width: 100%;
  }
  nav ul li {
      margin: 5px 0;
  }
  nav ul li a {
      font-size: 14px;
  }
  footer .socials-left img {
      height: 20px;
      width: 20px;
  }
  footer .socials-rigth img {
      height: 20px;
      width: 20px;
  }
}